.content-container {
    width: 100%;
}

.show-list-table,
.show-list-table th,
.show-list-table td,
.show-list-table tr {
    max-width: 95%;
    text-align: left;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid white;
    border-collapse: collapse;
}

#date {
    width: 15%;
}

#venue {
    width: 20%;
}

#set-list {
    width: 35%;
}

#other-info {
    width: 30%;
}

/* mobile */
@media (max-width: 768px) {

    .show-list-table,
    .show-list-table td,
    .show-list-table tr {
        display: block;
        border: none;
    }

    thead {
        display: none;
    }
}