.content-container {
    width: 100%;
}

.show-list-table,
.show-list-table th,
.show-list-table td,
.show-list-table tr {
    max-width: 95%;
    text-align: left;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid white;
    border-collapse: collapse;
}

#date {
    width: 15%;
}

#venue {
    width: 20%;
}

#set-list {
    width: 35%;
}

#other-info {
    width: 30%;
}

/* mobile */
@media (max-width: 768px) {
    thead {
        display: none;
    }

    .show-list-table,
    .show-list-table td,
    .show-list-table tr {
        display: block;
        border: none;
    }

    .show-list-table tr {
        border: 1px solid white;
    }

    .show-list-table td {
        position: relative;
        padding-left: 50%;
    }

    .show-list-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .show-list-table td:nth-of-type(1):before {
        content: "date";
    }

    .show-list-table td:nth-of-type(2):before {
        content: "venue";
    }

    .show-list-table td:nth-of-type(3):before {
        content: "setlist";
    }

    .show-list-table td:nth-of-type(4):before {
        content: "other info";
    }
}