@font-face {
    font-family: 'VTypewriter SmithUpright';
    src: url('fonts/VTypewriter-SmithUpright.ttf');
}

@font-face {
    font-family: 'Metallic Avocado';
    src: url('fonts/metali~1.ttf');
}

html,
body {
    background-color: black;
    color: white;
    font-family: 'VTypewriter SmithUpright', Courier, monospace;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-family: 'Metallic Avocado', Courier, monospace;
    font-size: 1.5em;
    font-weight: normal;
}

table {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #EE2E31;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 25%;
    margin: 3rem auto;
    text-align: center;
}

/* mobile */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .content-container {
        width: 75%;
        min-width: 320px;
    }
}