@font-face {
    font-family: 'VTypewriter SmithUpright';
    src: url('fonts/VTypewriter-SmithUpright.ttf');
}

@font-face {
    font-family: 'Metallic Avocado';
    src: url('fonts/metali~1.ttf');
}

html, body {
    background-color: black;
    color: white;
    font-family: 'VTypewriter SmithUpright', Courier, monospace;
    font-size: 1vw;
}

h1 {
    text-align: center;
    font-family: 'Metallic Avocado', Courier, monospace;
    font-size: 3vw;
    font-weight: normal;
}

table {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #EE2E31;
}